@media only screen and (max-width: 900px) {
	header #logoText {
		margin-left: 10px;
		font-size: 1.4em;
	}
	
	header #topControls {
		margin-right: 10px;
	}
	
	main {
		margin-top: 20px;
		padding: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	
	main #video {
		grid-row: 1;
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
	
	main #video #lyrics {
		width: 80%;
		height: 500px;
		top: 25px;
	}
	
	main #video #controls {
		width: 100%;
		height: 70px;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: 50% 50%;
	}
	
	main #video #controls #playPause {
		grid-column: 1;
		grid-row: 2;
	}
	
	main #video #controls #time {
		grid-column: 2 / span 3;
		grid-row: 2;
		margin: 0;
		text-align: center;
	}
	
	main #video #controls #progress {
		grid-column: 1 / span 10;
		grid-row: 1;
		margin: 0;
	}
	
	main #video #controls #mute {
		grid-column: 8;
		grid-row: 2;
	}
	
	main #video #controls #volume {
		grid-column: 6 / span 3;
		grid-row: 2;
		width: 100%;
		margin: 0;
		display: none;
	}
	
	main #video #controls #options {
		grid-column: 9;
		grid-row: 2;
	}
	
	main #video #controls #fullscreen {
		grid-column: 10;
		grid-row: 2;
	}
	
	main #search {
		grid-row: 2;
		width: 100%;
		max-width: 100%;
		height: 500px;
		max-height: 800px;
	}
	
	main #queueList {
		grid-row: 3;
		width: 100%;
		justify-content: center;
	}
	
	main #queueList .queueItem {
		width: calc(50% - 25px);
		max-width: 200px;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 20% 20% 20% 20% 20%;
	}
	
	main #queueList .queueItem i {
		width: 100%;
		height: 100%;
		padding-top: 10%;
		margin: 0;
		box-sizing: border-box;
	}
	
	main #tagList {
		grid-row: 4;
		width: 100%;
		padding: 0 5px 0 5px;
		margin-bottom: 35px;
		box-sizing: border-box;
	}
	
	footer {
		padding: 20px;	
	}
	
	footer #logoImage {
		width: 150px;
		height: auto;
	}
}