<!DOCTYPE html>
<html>
	<head>
		<title>Thunfisch Sync</title>
		<meta charset="utf-8">
		<meta name="robots" content="noindex">
		<meta name="theme-color" content="#202020">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://sync.thunfisch.lol/">
		<meta property="og:title" content="#<%= roomId %>">
		<meta property="og:site_name" content="Thunfisch Sync">
		<meta property="og:description" content="Schau dir Youtube Videos mit deinen Freunden an. ðŸŸ">
		<meta property="og:image" content="https://sync.thunfisch.lol/img/icons/icon256.png">
		<script src="https://kit.fontawesome.com/e45c34404f.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
		<link rel="manifest" href="/manifest.json">
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/css/room.css">
		<link rel="stylesheet" href="/css/mobile.css">
	</head>
	<body>
		<header>
			<input type="hidden" id="roomId" value="<%= roomId %>">
			<div id="tooltip"></div>
			<div id="logoText">THUNFISCH SYNC</div>
			<div id="infoArena">
				<div id="viewerCount">0</div>
			</div>
		</header>
		<main>
			<div id="video">
				<div id="unmute">
					<i class="fa-solid fa-volume-xmark"></i>
					<p>Zum Aufheben der Stummschaltung klicken</p>
				</div>
				<div id="lyricsWindow">
					<div id="lyricsBar">
						<div id="lyricsTitle">Keine Lyrics gefunden.</div>
						<div id="lyricsHide"><i class="fa-solid fa-xmark"></i></div>
					</div>
					<div id="lyricsText"></div>
				</div>
				<div id="overlay">
					<div id="title"></div>
					<div class="spacer"></div>
					<div id="optionsWindow">
						<span>Loop</span>
						<label class="switch">
							<input id="loopToggle" type="checkbox">
							<span class="slider"></span>
						</label>
						<span>Untertitel</span>
						<label class="switch">
							<input id="subtitleToggle" type="checkbox">
							<span class="slider"></span>
						</label>
						<span>Geschwindigkeit</span>
						<div id="speedWrapper">
							<input id="speedSelection" type="range" min="0.25" max="2" step="0.25" value="1"></input>
						</div>
					</div>
					<input id="progress" type="range" min="0" max="100" step="1" value="0"></input>
					<div id="controls">
						<button id="playPause"><i class="fa-solid fa-play"></i></button>
						<span id="time">14:36</span>
						<button id="mute" onmouseover='showTooltip(this, "Stummschalten")'><i class="fa-solid fa-volume-xmark"></i></button>
						<input id="volume" type="range" min="0" max="100" step="1" value="0"></input>
						<div class="spacer"></div>
						<button id="lyrics" onmouseover='showTooltip(this, "Lyrics")'><i class="fa-solid fa-music"></i></button>
						<button id="options" onmouseover='showTooltip(this, "Einstellungen")'><i class="fa-solid fa-gear"></i></button>
						<button id="fullscreen" onmouseover='showTooltip(this, "Vollbild")'><i class="fa-solid fa-expand"></i></button>
					</div>
				</div>
				<div id="player"></div>
			</div>
			<div id="search">
				<form id="searchForm" onsubmit="return false">
					<input id="searchField" placeholder="YouTube Suche" type="text" autocomplete="off" required></input>
					<button id="searchReset" type="reset"><i class="fa-solid fa-xmark"></i></button>
					<button id="searchButton" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
				</form>
				<div id="searchList"></div>
			</div>
			<div id="queueList"></div>
			<div id="tagList"></div>
		</main>
		<footer>
			<img id="logoImage" src="img/tuna.png">
			<ul id="contact">
				<li><a href="/"><b>THUNFISCH SYNC</b></a></li>
				<li><a href="mailto:mail@thunfisch.lol">mail@thunfisch.lol</a></li>
				<li></br></li>
				<li><small>Copyright &copy; 2021 thunfisch.lol</small></li>
			</ul>
		</footer>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/room.min.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
	</body>
</html>